@import "tailwindcss";

@layer base {
  :root {
    --color-bg-base: #09090b;
    --color-bg-surface: #121215;
    --color-bg-elevated: #18181b;
    --color-border-subtle: #27272a;
    --color-border-muted: #3f3f46;
  }

  body {
    background-color: #09090b;
    color: #f4f4f5;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Minimalist Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
