<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Dispersion framework: defaults to WARN in tests; override locally via -Ddispersion.log.level=DEBUG -->
    <logger name="com.github.f442y.dispersion" level="${dispersion.log.level:-WARN}" />

    <!-- 3rd-party loggers -->
    <logger name="org.springframework" level="WARN" />
    <logger name="org.apache.catalina" level="WARN" />
    <logger name="org.apache.coyote" level="WARN" />
    <logger name="org.glassfish.jersey" level="WARN" />

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
